.news {
  padding-top: 40px;
}

.news__title {
  align-items: center;
  margin-bottom: 30px;

  h2 {
    margin: 0;
    padding: 0;

    font-size: 28px;
    color: $font-color-black;

    border-bottom: 1px solid white;
  }

  .new__title-all-news {
    text-align: right;

    a {
      display: flex;
      align-items: center;
      padding: 13px 10px;

      font-size: 18px;

      &::after {
        content: "";

        display: block;
        width: 11px;
        height: 22px;
        margin-left: 20px;

        background-image: url("../img/right-arrow.png");
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      &:hover {
        color: $color-blue;

        text-decoration: none;

        &::after {
          background-image: url("../img/right-arrow-hover.png");
        }
      }
    }
  }
}

.news__list {
  margin-bottom: 40px;

  p {
    margin: 0;
    padding: 0;
  }

  .news__item {
    display: flex;
    flex-direction: column;
    padding: 10px;

    img {
      margin-bottom: 20px;

      object-fit: cover;
    }

    .news__item-date {
      margin-bottom: 15px;

      font-size: 13px;
      color: $font-color-black;
    }

    a {
      height: 60px;

      &:hover {
        text-decoration: none;
        color: $color-blue;
      }
    }

    .news__item-description {
      margin-bottom: 20px;

      font-size: 18px;
      color: $font-color-blue;
      text-transform: uppercase;

      &:hover {
        color: $color-blue;
      }
    }

    .news__item-lab {
      height: 50px;
      margin-bottom: 20px;

      font-size: 16px;
      color: $font-color-grey;
    }

    .news__item-about {
      font-size: 16px;
      color: $font-color-black;
    }
  }
}
