.news {
  padding-top: 40px;
}

.news__title {
  align-items: center;

  h2 {
    margin: 0;
    padding: 0;

    font-size: 28px;
    color: $font-color-black;
  }

  .new__title-all-news {
    text-align: right;

    a {
      display: flex;
      align-items: center;
      padding: 13px 10px;

      font-size: 18px;

      border: 1px solid transparent;

      &::after {
        content: "";

        display: block;
        width: 11px;
        height: 22px;
        margin-left: 20px;

        background-image: url("../img/right-arrow.png");
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      &:hover {
        color: $font-color-blue;

        border: 1px solid $font-color-blue;

        text-decoration: none;
      }
    }
  }
}
